:root {
    --page-blue: #4392dc;
    --page-white: #fff;
    --page-black: #000;
    --page-gray: #2e2e2e;
}


.inicial {
    width: 100%;
    height: 100vh;
    background-image: url(https://images6.alphacoders.com/456/thumb-1920-456498.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.cap-op {
    width: 100%;
    height: 100%;
    background-color: #4392dc93;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}

.cnt-home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--page-white);
    text-align: center;
}

.cnt-home .h1 {
    font-size: 4em;
}

.cnt-home .h1,
.cnt-home .h2 {
    text-shadow: 2px 2px 4px #000000;
}

.back-main {
    background-color: #4392dc11;
}

.main {
    min-height: 100%;
    background: var(--page-white);
}

.main2 {
    min-height: 100vh;
    background-color: var(--page-blue);
    box-shadow: 8px 8px 10px var(--page-gray);
    color: var(--page-white);
}

.main3 {
    min-height: 100vh;
    background-color: var(--page-white);
    box-shadow:  8px 8px 10px var(--page-blue);
}

.skill {
    box-shadow: -5px 0px 10px var(--page-gray);
    /* height: 100vh; */
}

.h-100 {
    height: 100vh;
}

.dp-fx {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt-c {
    text-align: center;
}

.bxz-b {
    box-shadow: 8px 8px 10px var(--page-blue);
}

.txt-j {
    text-align: justify;
}

.cont {
    width: 85%;
}

.cl-b {
    color: var(--page-blue);
}

.card-project {
    height: 400px;
    box-shadow: 8px 8px 10px var(--page-gray);
}

.proyect-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pht img {
    height: 60px;
}

.phe img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--page-white);
}

.photo img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid var(--page-blue);
    box-shadow: 8px 8px 15px var(--page-blue);
}

.progress {
    background-color: #f3f3f3;
    border-radius: 13px;
    padding: 3px;
}

.progress-bar {
    height: 100%;
    background-color: var(--page-blue);
    border-radius: 10px;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
  }

  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    height: 90vh;
    border-radius: 5px;
    text-align: center;
  }
  
  /* Botón de cerrar modal */
  .close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #fd3737;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #ddd;
    font-weight: bold;
    cursor: pointer;
  }

  
  .close:hover,
  .close:focus {
    color: #fff;
    background-color: #ff0000;
    text-decoration: none;
  }

  .skills-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pht-logo-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .container-habilidades-tec {
    overflow-y: scroll;
  }

  .cont-skills-tec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }